body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Roboto Mono", monospace, sans-serif;
}

h1 {
    border-bottom: 2px solid teal;
}

.mainContent {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.mainContent > p {
    width: 30%;
    font-size: clamp(.8em, 1vw + 1em, 2em);
}

@media only screen and (min-width: 900px) {
    .large {
        color: green;
    }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
    .medium {
        color: green;
    }
    
    .mainContent > p {
        width: 60%;
    }

    h1 {
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .small {
        color: green;
    }

    .mainContent > p {
        width: 80%;
    }

    h1 {
        text-align: center;
    }
}
